# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Virtualenv
venv/
.env/
.venv/

# Django
staticfiles/
media/

# IDEs/OS
.vscode/
.idea/
.DS_Store

# Credenciais/variáveis (se usar)
*.env
.env.*
venv/
.env
*.pyc
__pycache__/
staticfiles/
media/
stderr.log
runtime.txt
runtime.lock
