# --- Core ---
Django==5.2.5

# --- WSGI server (produção) ---
gunicorn==22.0.0

# --- Staticfiles em produção (gzip + hash) ---
whitenoise==6.7.0

# --- Banco Postgres via DATABASE_URL ---
dj-database-url==2.2.0
psycopg2-binary==2.9.9
